<div class="searchComponent" *ngIf="search">
  <form class="search">
    <label for="search_input">
      <input
        id="search_input"
        type="text"
        #message name="keyWord" [(ngModel)]="keyWord" (keyup.enter)="search()"
        placeholder="Search for keywords..."
      />
      <clr-icon class="search-icon" shape="search" (click)="search()"></clr-icon>
    </label>
  </form>
</div>
<!-- <div class="showAlert" *ngIf="isShowAlert">
  <h5>
    The repository with such a name is not found
  </h5>
</div> -->
<div class="alert alert-danger" role="alert" *ngIf="isShowAlert">
  <div class="alert-items">
      <div class="alert-item static">
          <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">
            The repository with such a name is not found
          </span>
      </div>
  </div>
</div>
<div class="alert alert-success" role="alert" *ngIf="backToFullList" (click)="goBackToFullList()">
  <div class="alert-items">
      <div class="alert-item static">
          <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
          </div>
          <span class="alert-text backToFuulList">
            Go back to the full list repositories!
          </span>
      </div>
  </div>
</div>

<div class="flex-spinner" *ngIf="renderedSpinner">
  <span class="spinner spinner-inverse"> Loading... </span>
  <span> Loading... </span>
</div>


<div class="clr-row">
  <div class="clr-col-lg-4 clr-col-md-6 clr-col-sm-12 clr-col-xs-12" *ngFor="let repos of displayRepos">
    <!-- <ng-template *ngIf ="repository"> -->
        <app-repository [reposItem]="repos" [routerLink]="['/repositories', repos.id]"></app-repository>
    <!-- </ng-template> -->
     <!-- <ng-template *ngIf="detailedInfo">
      <app-detailed-info-repos [reposDetailed]="repos"></app-detailed-info-repos>
     </ng-template> -->
  </div>
</div>
