<div class="alert alert-danger" role="alert" *ngIf="isShowAlert">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <span class="alert-text"> {{ textMessage }} </span>
    </div>
  </div>
</div>

<div class="flex-spinner" *ngIf="renderedSpinner">
  <span class="spinner spinner-inverse"> Loading... </span>
  <span> Loading... </span>
</div>

<h1 *ngIf="default">Default Request {{ keyword }} found: {{ total_count }}</h1>
<h1 *ngIf="request">Request {{ keyword }} found: {{ total_count }}</h1>

<div class="clr-row">
  <div
    class="clr-col-lg-4 clr-col-md-6 clr-col-sm-12 clr-col-xs-12"
    *ngFor="let repos of displayRepos"
  >
    <app-repository [reposItem]="repos" [keyword]="keyword"></app-repository>
  </div>
</div>
