<div class="clr-row">
  <div class="clr-col-lg-3 clr-col-md-3"></div>
  <div
    class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12 clr-col"
    *ngFor="let repos of displayRepos"
  >
    <div class="card">
      <div class="card-block">
        <div class="card-media-block">
          <div class="flex-head-media">
            <img
              src="{{repos.owner_avatar}}"
              target="_blank"
              class="card-media-image"
            />


          <span class="card-media-description">
            <div class="card-media-text card-title">
              <h2>{{ repos.name }}</h2>
            </div>
            <div class="card-text card-media-text">
              <h4>
                Owner Repository -
                <a href="{{repos.owner_url}}" target="_blank">{{
                  repos.owner
                }}</a>
              </h4>
            </div>

          </span>
          </div>

          <span
          ><clr-icon
            shape="thumbs-up"
            [class.redText]="isPressed"
            (click)="likedRepos(repos.id)"
          ></clr-icon
        >  <span class="badge badge-3" *ngIf="count">{{countLike}}</span></span>
        </div>
        <div class="card-header">
          <h4><span>Language:</span> {{ repos.language }}</h4>

        </div>
        <div class="card-block">


          <div class="card-title">Repository ID - {{ repos.id }}</div>

          <div class="card-text">
            <p>
              <span>Date of creation:</span>
              {{ repos.created_at | date: "medium" }}
            </p>
          </div>
          <div class="card-text">
            <p>
              <span>Date last pushed:</span>
              {{ repos.pushed_at | date: "medium" }}
            </p>
          </div>
          <div class="card-text text_urlhtml">
            <p>
              <span>Repository URL:</span><br />
              <a
                class="htmlrepos_url"
                href="{{repos.html_url}}"
                target="_blank"
                >{{ repos.html_url }}</a
              >
            </p>
            <div class="card-text">
              <p><span>Description:</span> {{ repos.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clr-col-lg-3 clr-col-md-3"></div>
  </div>
</div>
