div.card {
  div.card-header {
    display:flex;
    justify-content: space-between;
    h2 {
      white-space: nowrap;
      overflow: hidden;
      padding: 5px;
      text-overflow: ellipsis;
    }

  }
  div.card-block {
    div.text_urlhtml {
      p {
        a.htmlrepos_url {
          display: block;/*потрібно додати display:block , бо <а> - строчний елемент*/
          white-space: nowrap;
          overflow: hidden;
          padding: 5px;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
.redText{
  color:red;
}
