.wrapper{
  margin:-30px;
  padding: 0;
  padding-top:25px;
  min-height: 100%;
  background-color: rgb(1, 228, 228);

}
.header-5{
    .branding{
      a{
        .title{
          margin-left: 25px;
        }
      }
  }
}

  ::after, ::before {
    box-sizing: inherit;
}





