<clr-main-container class="main-container" *ngIf="navbar">
  <clr-header class="header-5">
    <button class="header-hamburger-trigger" type="button"></button>
    <div class="branding">
      <a routerLink="/" class="logo-and-title">
        <img width="24" alt="Github Logo" src="../assets/github-logo-24.png" />
        <span class="title">Github App</span>
      </a>
    </div>

    <div class="divider"></div>

    <div class="header-nav" [clr-nav-level]="2">
      <a
        class="active nav-link"
        routerLinkActive="active"
        routerLink="/repositories"
        ><span class="nav-text">Repositories</span></a
      >
      <a class="nav-link" routerLinkActive="active" routerLink="/contacts"
        ><span class="nav-text">My Contacts</span></a
      >
    </div>
    <div class="divider"></div>

    <div class="header-actions">
      <form>
        <label for="search_input">
          <input
            id="search_input"
            type="text"
            name="keyword"
            [(ngModel)]="keyword"
            (keyup.enter)="search(keyword)"
            placeholder="Search repository..."
          />
          <clr-icon
            class="search-icon"
            shape="search"
            (click)="search()"
          ></clr-icon>
        </label>
      </form>
    </div>
    <div class="header-backdrop"></div>
  </clr-header>
  <div class="content-container">
    <main class="content-area"><router-outlet></router-outlet></main>
  </div>
</clr-main-container>

<div class="wrapper" *ngIf="splashscreen">
  <app-splashscreen></app-splashscreen>
</div>
