<clr-main-container class="main-container" *ngIf="navbar">
  <clr-header class="header-5">
    <button class="header-hamburger-trigger" type="button">
      <!-- <span>
        ::before
        ::after
      </span> -->
    </button>
    <div class="branding">
      <a routerLink="/" class="logo-and-title">
        <img width="24" alt="Github Logo" src="../assets/github-logo-24.png" />
        <span class="title">Github App</span>
      </a>
    </div>

    <div class="divider"></div>

    <div class="header-nav" [clr-nav-level]='2'>
      <a
        class="active nav-link"
        routerLinkActive="active"
        routerLink="/repositories"
        ><span class="nav-text">Repositories</span></a
      >
      <a class="nav-link" routerLinkActive="active" routerLink="/contacts"
        ><span class="nav-text">Contacts</span></a
      >
    </div>
    <div class="divider"></div>

    <!-- <form class="search">
      <label for="search_input">
        <input
          id="search_input"
          type="text"
          placeholder="Search for keywords..."
        />
      </label>
    </form> -->
    <!-- <div class="header-backdrop"></div> -->
  </clr-header>
  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
  </div>
</clr-main-container>


<div class="wrapper" *ngIf="splashscreen">
  <app-splashscreen></app-splashscreen>
</div>
